.Nav {
  background: #1877f2;
  top: 0;
}

.logo {
  flex: 3;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}

.search {
  flex: 5;
  flex-shrink: 0;
  width: 100%;
}

/* .searchForm:focus {
  border: none;
} */
.searchForm {
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 50px;
  border: none;
  align-items: center;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 5px;
  cursor: pointer;
}
.searchInput {
  border: none;
  width: 90%;
}

.links a {
  color: white;
  text-decoration: none;
  align-self: center;
  margin-right: 10px;
  font-weight: 500;
}

.notifications {
  display: flex;
  justify-content: space-around;
  flex: 4;
}

.profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
